<div class="card margin_top" ng-show="token_loja">
    <div class="card">
        <h3 class="card-header deep-orange lighten-1 white-text text-center font-weight-bold text-uppercase py-4">cadastro</h3>
        <div class="card-body">
            <!--área de tipo de anúncio-->
            <blockquote class="blockquote bq-primary">
                <h3 class="bq-title">Estoque</h3>
                <br />
                <div class="row">
                    <div class="col-md-8 mb-md-0 mb-5">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultChecked" ng-value="0" ng-model="vm.produto.servico">
                            <label class="custom-control-label" for="defaultChecked">Produto</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="defaultUnchecked" ng-value="1" ng-model="vm.produto.servico">
                            <label class="custom-control-label" for="defaultUnchecked">Serviço</label>
                        </div>
                    </div>
                </div>
            </blockquote>

            <!--área de cadastro-->
            <section>
                
                
                
                <span ng-show="vm.produto.servico === 0" ng-include="'wwwroot/pages/produto/_produto.html'"></span>
                <span ng-show="vm.produto.servico === 1" ng-include="'wwwroot/pages/produto/_servico.html'"></span>

                <!--IMAGENS-->
                <blockquote class="blockquote bq-warning" ng-show="vm.produto.servico === 0 || vm.produto.servico === 1">
                    <h3 class="bq-title">Imagens</h3>
                    <br />

                    <div>
                        <div class="row col-md-12">
                            <input nv-file-select uploader="uploader" type="file" name="fileInput" id="fileInput" />
                        </div>
                        <div class="row col-md-12">
                            <div class="row col-md-4">
                                <span class="font-weight-bold">Imagen Original</span>
                            </div>
                            <div class="col-md-4" style="margin-left:30px">
                                <span class="font-weight-bold">Imagen Redefinida</span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-4 img-thumbnail">
                                <img-crop image="vm.imagem" result-image="vm.imagemCortada" area-type="square" result-image-size="300"></img-crop>
                            </div>

                            <div class="col-md-4">
                                <img ng-src="{{vm.imagemCortada}}" alt="..." class="img-thumbnail">
                            </div>
                        </div>
                        <small class="text-danger font-weight-bold">*Antes de enviar verifique se a imagen esta de acordo com o desejado.</small><br />
                        <button class="btn btn-success btn-sm"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Enviar</button>
                        <br />
                        <br />
                        <div>
                            <img ng-src="{{vm.imagemCortada}}" alt="..." class="img-thumbnail col-md-2">
                            <img ng-src="{{vm.imagemCortada}}" alt="..." class="img-thumbnail col-md-2">
                            <img ng-src="{{vm.imagemCortada}}" alt="..." class="img-thumbnail col-md-2">
                            <img ng-src="{{vm.imagemCortada}}" alt="..." class="img-thumbnail col-md-2">
                            <img ng-src="{{vm.imagemCortada}}" alt="..." class="img-thumbnail col-md-2">
                        </div>
                    </div>

                </blockquote>
            </section>
        </div>
    </div>
</div>
