<div class="card margin_top" ng-show="token_loja">
    <div class="card">
        <h3 class="card-header deep-orange lighten-1 white-text text-center font-weight-bold text-uppercase py-4">cadastrar produto</h3>
        <div class="card-body">
    
            <section class="section">
                <div class="row">
                    <div class="col-md-8 mb-md-0 mb-5">
                        {{vm.produto}}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="md-form mb-0">
                                    <input ng-model="vm.produto.codigoProdutoFornecedor"
                                           type="text"
                                           id="codForn"
                                           name="codForn"
                                           class="form-control">
                                    <label for="name" class="">Código do fornecedor</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input ng-model="vm.produto.descricaoProduto"
                                           type="text"
                                           id="produto"
                                           name="produto"
                                           class="form-control">
                                    <label for="email" class="">Nome do Produto</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="md-form mb-0">
                                    <input ng-model="vm.produto.especificacao"
                                           type="text"
                                           id="descricao"
                                           name="descricao"
                                           class="form-control">
                                    <label for="subject" class="">Descrição</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <br />
                                <br />
                                <select class="form-control" ng-model="vm.produto.idDepartamento" name="departamento">
                                    <option value="" disabled selected>Selecione o departamento</option>
                                    <option ng-repeat="option in vm.departamentos" value="{{option.idDepartamento}}">{{option.departamento}}</option>
                                </select>


                            </div>
                            <div class="col-md-6">
                                <br />
                                <br />
                                <button class="btn btn-sm btn-blue-grey"><span class="fa fa-plus text-success"></span> Adicionar novo departamento</button>

                            </div>
                        </div>
                        <br />

                        <div class="row col-md-12">
                            <input nv-file-select uploader="uploader" type="file" name="fileInput" id="fileInput" />
                        </div>
                        <br />
                        <div class="row col-md-12">
                            <div class="row col-md-4">
                                <span class="font-weight-bold">Imagen Original</span>
                            </div>
                            <div class="col-md-4" style="margin-left:30px">
                                <span class="font-weight-bold">Imagen Redefinida</span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-4 img-thumbnail">
                                <img-crop image="vm.imagem" result-image="vm.imagemCortada" area-type="square" result-image-size="300"></img-crop>
                            </div>

                            <div class="col-md-4">
                                <img ng-src="{{vm.imagemCortada}}" alt="..." class="img-thumbnail">
                            </div>
                        </div>
                        <small class="text-danger font-weight-bold">*Antes de enviar verifique se a imagen esta de acordo com o desejado.</small><br />
                        <button class="btn btn-success btn-sm"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Enviar</button>
                        <br />
                        <br />
                        <div class="card">
                            <div class="card-body">
                                <img ng-src="{{vm.imagemCortada}}" alt="..." class="img-thumbnail col-md-2">
                                <img ng-src="{{vm.imagemCortada}}" alt="..." class="img-thumbnail col-md-2">
                                <img ng-src="{{vm.imagemCortada}}" alt="..." class="img-thumbnail col-md-2">
                                <img ng-src="{{vm.imagemCortada}}" alt="..." class="img-thumbnail col-md-2">
                                <img ng-src="{{vm.imagemCortada}}" alt="..." class="img-thumbnail col-md-2">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="card">
                            <h3 class="card-header deep-orange lighten-1 white-text text-center">Informações</h3>
                            <div class="card-body">
                                <div class="row">
                                    <span class="alert-info col-md-12 text-left font-weight-bold">Extimativa de frete</span>
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input ng-model="vm.produto.Altura"
                                                   type="text" 
                                                   id="altura" name="altura" 
                                                   class="form-control">
                                            <label for="name" class="">Altura</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input ng-model="vm.produto.largura"
                                                   type="text" 
                                                   id="largura" 
                                                   name="largura" 
                                                   class="form-control">
                                            <label for="name" class="">Largura</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <input ng-model="vm.produto.comprimento"
                                                   type="text" 
                                                   id="comprimento" 
                                                   name="comprimento" 
                                                   class="form-control">
                                            <label for="name" class="">Comprimento</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="md-form mb-0">
                                            <input ng-model="vm.produto.peso"
                                                   type="text" 
                                                   id="peso" 
                                                   name="peso" 
                                                   class="form-control">
                                            <label for="name" class="">Peso</label>
                                        </div>
                                    </div>
                                    <span class="alert-info col-md-12 text-left font-weight-bold">Financeiro</span>
                                    <div class="col-md-4">
                                        <div class="md-form mb-0">
                                            <input ng-model="vm.produto.valorCustoProduto"
                                                   type="text" 
                                                   id="custo" 
                                                   name="custo" 
                                                   class="form-control">
                                            <label for="name" class="">Custo do Produto</label>
                                        </div>
                                        <div class="md-form mb-0">
                                            <input ng-model="vm.produto.valorPublicoProduto"
                                                   type="text"
                                                   id="valor" 
                                                   name="valor" 
                                                   class="form-control">
                                            <label for="name" class="">Valor do Produto</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="card">
                            <h3 class="card-header deep-orange lighten-1 white-text text-center ">Estoque</h3>
                            <div class="card-body">
                                <div class="col-md-8">
                                    <div class="md-form mb-0">
                                        <input ng-model="vm.produto.estoque.quantidade"
                                               type="text" 
                                               id="quantidade" 
                                               name="quantidade" c
                                               lass="form-control">
                                        <label for="name" class="">Quantidade</label>
                                    </div>
                                    <div class="md-form mb-0">
                                        <input ng-model="vm.produto.estoque.opcao"
                                               type="text" 
                                               id="opcao" 
                                               name="opcao" 
                                               class="form-control">
                                        <label for="name" class="">Opção</label>
                                    </div>
                                    <br />
                                    <div class="custom-control custom-radio">
                                        <input ng-model="vm.produto.estoque.mesmoZerado"
                                               type="checkbox" 
                                               class="custom-control-input" 
                                               id="estoque" name="estoque">
                                        <label class="custom-control-label" for="estoque">Exibir no catálogo mesmo sem estoque?</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="card">
                            <h3 class="card-header deep-orange lighten-1 white-text text-center ">Opções Gerais</h3>
                            <div class="card-body">
                                <div class="col-md-6">
                                    <div class="custom-control custom-radio">
                                        <input ng-model="vm.produto.ativo"
                                               type="checkbox" 
                                               class="custom-control-input" 
                                               id="ativo" 
                                               name="ativo">
                                        <label class="custom-control-label" for="estoque">Ativo?</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>

        </div>
    </div>
</div>
