<div class="flex-center margin_top">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header card-header">
                <h3><i class="fa fa-lock"></i> Login</h3>
            </div>
            <div class="card-body">
                <form name="loginForm" method="post">
                    <!-- Material input email -->
                    <div class="md-form font-weight-light" ng-class="{ 'has-error' : loginForm.email.$invalid && loginForm.email.$dirty }">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input ng-model="vm.login.email"
                               ng-minlength="5"
                               ng-maxlength="160"
                               type="email"
                               class="form-control"
                               id="email"
                               name="email"
                               required />
                        <label for="materialFormEmailEx">email</label>
                        <div ng-show="loginForm.email.$invalid && loginForm.email.$dirty"
                             class="alert alert-danger">
                            E-mail inválido
                        </div>
                    </div>
                    <!-- Material input password -->
                    <div class="md-form font-weight-light " ng-class="{ 'has-error' : loginForm.senha.$invalid && loginForm.senha.$dirty }">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input ng-model="vm.login.senha"
                               ng-minlength="6"
                               ng-maxlength="20"
                               type="password"
                               class="form-control"
                               id="senha"
                               name="senha"
                               required />
                        <label for="materialFormPasswordEx">senha</label>
                        <p class="font-small blue-text d-flex justify-content-end" data-toggle="modal" data-target="#modalLRFormDemo"><a href="#" class="blue-text ml-1">Esqueci a minha senha?</a></p>
                        <div class="alert alert-danger" ng-show="loginForm.senha.$invalid && loginForm.senha.$dirty">
                            senha deve conter o mínimo de 6 caracteres e máximo de 20 caracteres.
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-cyan waves-effect waves-light" type="submit"
                                ng-disabled="!vm.login.email || !vm.login.senha"
                                ng-click="vm.autenticar()">
                            Login
                            <i class="fa fa-sign-in ml-1"></i>
                        </button>

                    </div>
                </form>
            </div>

            <!--Footer-->
            <div class="modal-footer">
                <div class="options font-weight-light">
                    <p>Não tem uma conta? <a href="#!/registrar">Registre-se</a></p>

                </div>
            </div>
        </div>


    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalLRFormDemo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Esqueceu a senha?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="esquecisenhaForm">
                    <div class="md-form ml-0 mr-0">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input ng-model="vm.email"
                               ng-class="{ 'has-error' : esquecisenhaForm.emailRecovery.$invalid && esquecisenhaForm.emailRecovery.$dirty }"
                               ng-minlength="5"
                               ng-maxlength="160"
                               type="email"
                               class="form-control"
                               id="emailRecovery"
                               name="emailRecovery"
                               required />
                        <label for="materialFormEmailEx">Digite seu e-mail para recuperar a sua senha.</label>
                        <div ng-show="esquecisenhaForm.emailRecovery.$invalid && esquecisenhaForm.emailRecovery.$dirty"
                             class="alert alert-danger">
                            E-mail inválido
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-cyan waves-effect waves-light" ng-disabled="!vm.email" ng-click="vm.generateTokenRecoveryPassword()">
                            Enviar
                        </button>
                    </div>
                </form>

            </div>


        </div>
    </div>
</div>
